In [3]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [4]:
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/happiness.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

C:\Users\wooto\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [5]:
Base.classes.keys()

['freedom_idx_2019']

In [7]:
 Freedom_short = Base.classes.freedom_idx_2019   
 stmt = db.session.query(Freedom_short).statement
 freedom_df = pd.read_sql_query(stmt, db.session.bind)

C:\Users\wooto\Anaconda3\lib\site-packages\sqlalchemy\sql\sqltypes.py:666: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  "storage." % (dialect.name, dialect.driver)

In [8]:
freedom_df.head()

,iso_code,year,country,region,hf_score,hf_rank,hf_quartile
0,ALB,2017,Albania,Eastern Europe,7.84,38.0,1.0
1,DZA,2017,Algeria,Middle East & North Africa,4.99,155.0,4.0
2,AGO,2017,Angola,Sub-Saharan Africa,5.40,151.0,4.0
3,ARG,2017,Argentina,Latin America & the Caribbean,6.86,77.0,2.0
4,ARM,2017,Armenia,Caucasus & Central Asia,7.42,54.0,2.0