In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [2]:
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/happiness.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

C:\Users\wooto\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [3]:
Base.classes.keys()

['freedom_idx_2019']

In [4]:
 Freedom_short = Base.classes.freedom_idx_2019   
 stmt = db.session.query(Freedom_short).statement
 freedom_df = pd.read_sql_query(stmt, db.session.bind)

C:\Users\wooto\Anaconda3\lib\site-packages\sqlalchemy\sql\sqltypes.py:666: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  "storage." % (dialect.name, dialect.driver)

In [5]:
freedom_df.head()

,iso_code,year,country,region,hf_score,hf_rank,hf_quartile
0,ALB,2017,Albania,Eastern Europe,7.84,38.0,1.0
1,DZA,2017,Algeria,Middle East & North Africa,4.99,155.0,4.0
2,AGO,2017,Angola,Sub-Saharan Africa,5.40,151.0,4.0
3,ARG,2017,Argentina,Latin America & the Caribbean,6.86,77.0,2.0
4,ARM,2017,Armenia,Caucasus & Central Asia,7.42,54.0,2.0

In [ ]:
whatevs = jsonify(list(df.columns)[2:])

In [6]:
full_data_path = "resources/human-freedom-index-2019.csv"
full_data_df=pd.read_csv(full_data_path)
full_data_df.head()

,year,ISO_code,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,...,ef_regulation_business_adm,ef_regulation_business_bureaucracy,ef_regulation_business_start,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank
0,2017,ALB,Albania,Eastern Europe,7.84,38,1,6.7,4.5,4.7,...,6.3,6.7,9.7,4.1,6,7.2,6.7,7.8,7.67,30
1,2017,DZA,Algeria,Middle East & North Africa,4.99,155,4,-,-,-,...,3.7,1.8,9.3,3.8,8.7,7,5.7,5.4,4.77,159
2,2017,AGO,Angola,Sub-Saharan Africa,5.4,151,4,-,-,-,...,2.4,1.3,8.7,1.9,8.1,6.8,4.9,5.7,4.83,158
3,2017,ARG,Argentina,Latin America & the Caribbean,6.86,77,2,7.1,5.8,4.3,...,2.5,7.1,9.6,3.3,5.4,6.5,5.7,5.6,5.67,147
4,2017,ARM,Armenia,Caucasus & Central Asia,7.42,54,2,-,-,-,...,4.6,6.2,9.9,4.6,9.3,7.1,6.9,7.5,7.7,27

In [7]:
engine = create_engine("sqlite:///db/happiness.sqlite")
conn = engine.connect()

In [8]:
full_data_df.to_sql("full_freedom_2019", conn, if_exists="replace")